.butt0 {
    background-color: black;
    color: white;
}

.butt1 {
    background-color: yellow;
    color: black;
}

button {
    font-size: 28px;
    font-style: "Halvecta", "Times New Roman", sans-serif;
}
